{
  "Setting": {
    "TanitaClientID": "",
    "TanitaClientSecretToken": "",
    "DiscordWebhookUrl": "https://discordapp.com/api/webhooks/????????",
    "OriginalWeight": 80,
    "GoalWeight": 70,
    "GoogleFitSettings": {
      "Enabled": false,
      "ClientId": "",
      "ClientSecret": ""
    }
  }
}